@charset "utf-8";

@media (max-width:599px){ 

    #wrap {width: 100%; background-color: rgb(247, 234, 236);position: relative;  }
    .top-img .top1 {display: none;}
    .top-img2 .top2 {display: none;}

    /* 주요 컨텐츠 사이즈 */
    .container {width: 100%; height: 100%; margin: 0 auto; border: 1px solid orange;}

    header {width: 100%; height:120px; }  
    header .container {display: flex; justify-content: space-between;} 
    header .container .top_logo img {width: 90%; display: flex; justify-items: center; align-items: center; padding: 5%;}
    .search_box {display: none;}
    .search_box i {display: none;}
    
    .nav {width:200px; height: 100%; }
    
    .left_menu {display:none; }
    .left_menu li{ display:block; color: #faecf8; padding: 15px;width: 100%; text-align: center;}
    .left_menu li:hover { border-radius: 4px; }
    
    .right_menu {display:none;  }
    .right_menu li{display: block;  color: #faecf8; padding:15px; width: 100%; text-align: center;}
    .right_menu li:hover { border-radius: 4px; }

    .menu_icon {width: 90px; height: 120px; display: flex; justify-content:right; align-items: center; }
    .menu_icon i {cursor: pointer; font-size: 25px;}

    
    footer { width: 100%; height: 900px; padding-bottom: 10px; padding-top: 10px;}
    footer .foottext {width: 100%; height:100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;  }
    footer .foottext h5,footer .foottext a { width: 350px; font-size:20px;  padding: 1%; margin: 1%; text-align: center; line-height: 30px;}
    footer .foottext p { width: 100%; font-size:18px;   text-align: center; }
    footer .foottext img { width:100%; margin: 0px 0 10px 5px; }
    #footbottom {width: 100%; height: auto;  text-align: center; font-size: 14px;color: #a4a4a4; display: inline; margin: 3%;}
   
}
        

@media (min-width:600px) and (max-width:1299px){ 

    #wrap {width: 100%; background-color: rgb(247, 234, 236);position: relative;  }
    .top-img .top1 {display: none; }
    .top-img2 .top2 {display: none; }

    /* 주요 컨텐츠 사이즈 */
    .container {width: 100%; height: 100%; margin: 0 auto; border: 1px solid orange;}


    header {width: 100%; height:120px; display: flex; justify-content: space-around; align-items: center; }  
    header .container {display: flex; border: none; } 
    header .container .top_logo img {max-width: 90%; margin: 25px auto; } 
    
    .search_box {width:10%; height:100%; display: flex; justify-content: start;  align-items: center;flex-wrap:nowrap;  }
    .search_box i {padding:0 5px; font-size: 15px;}
    
    .nav {width:300px; height: 100%;display: flex; justify-content: space-around; align-items: center; }
  
    .left_menu {display:flex; align-items: center; justify-content: flex-end; }
    .left_menu li{display: block; color: #faecf8; padding: 10px;}
    .left_menu li:hover { border-radius: 4px; }
    
    .right_menu {display: flex; align-items: center; justify-content: flex-start; }
    .right_menu li{display: block;  color: #faecf8; padding:10px;}
    .right_menu li:hover { border-radius: 4px; }

    .menu_icon {width:10px; height: 120px; display: flex; justify-content:right; align-items: center; }
    .menu_icon i {cursor: pointer; font-size: 25px;}

    
    footer { width: 100%; height: 600px; padding-bottom: 10px; padding-top: 100px;}
    footer .foottext {width: 100%; height:100%; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;  }
    footer .foottext .footbox {width: 25%; }
    footer .foottext h5,footer .foottext a { width: 100%; font-size:20px;  padding: 1%; margin: 1%; text-align: center; line-height: 30px;}
    footer .foottext p { width: 100%; font-size:17px;   text-align: center; }
    /* footer .foottext .footbox {width: 30%; font-size: 18px;  } */
    footer .foottext img { width:100%; margin: 0px 0 10px 5px; }
    #footbottom {width: 100%; height: auto;  text-align: center; font-size: 14px;color: #a4a4a4; display: inline; margin: 3%;}
   
}
        
@media (min-width:1300px){ 


    /* 주요 컨텐츠 사이즈 */
    .container {width: 1300px; height: 100%; margin: 0 auto; border: 1px solid orange;}

    header {width: 100%; height:120px; }  
    header .container {display: flex; justify-content: space-between;} 
    
    .search_box {width: 200px ; height: 120px; display: flex; justify-content: left; align-items: center; flex-wrap: nowrap; font-size: 18px;}
    .search_box i {padding:0 5px; font-size: 17px;}
    
    .nav {width:350px; height: 100%; }
  
    .left_menu {display:flex; align-items: center; justify-content: space-between; }
    .left_menu li{display: block; color: #faecf8; padding: 15px;}
    .left_menu li:hover { border-radius: 4px; }
    
    .right_menu {display: flex; align-items: center; justify-content: space-between; }
    .right_menu li{display: block;  color: #faecf8; padding:15px;}
    .right_menu li:hover { border-radius: 4px; }

    .menu_icon {width: 90px; height: 120px; display: flex; justify-content:right; align-items: center; }
    .menu_icon i {cursor: pointer; font-size: 25px;}

    footer { width: 100%; height: 500px; padding-bottom: 10px; padding-top: 100px;}
    footer .foottext {width: 100%; height:100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;  }
    footer .foottext h5,footer .foottext a { width: 350px; font-size:20px;  padding: 1%; margin: 1%; text-align: center; line-height: 30px;}
    footer .foottext p { width: 350px; font-size:18px;   text-align: center; }
    /* footer .foottext .footbox {width: 30%; font-size: 18px;  } */
    footer .foottext img { width:350px; margin: 0px 0 10px 5px; }
    #footbottom {width: 100%; height: auto;  text-align: center; font-size: 14px;color: #a4a4a4; display: inline; margin: 3%;}
}

