@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Open Sans',sans-serif; }
    ul,ol,li {list-style: none; margin: 0; padding: 0;}
    a {text-decoration: none; color: #333;}

       

    #wrap {width: 100%; background-color: rgb(247, 234, 236); }
    /* 주요 컨텐츠 사이즈 */
    .container {width: 1300px; height: 100%; margin: 0 auto; border: 1px solid orange;}


    header {width: 100%; height:120px; }  
    header .container {display: flex; justify-content: space-between;} 
    
    .search_box {width: 90px ; height: 120px; display: flex; justify-content: left; align-items: center;}
    .search_box i {padding: 0 5px; font-size: 18px;}

    .nav {width: 300px; height: 100%; }
  
    .left_menu {display:flex; align-items: center; justify-content: space-between; }
    .left_menu li{display: block; color: #faecf8; padding: 15px;}
    .left_menu li:hover { border-radius: 4px;}
    
    .right_menu {display: flex; align-items: center; justify-content: space-between; }
    .right_menu li{display: block;  color: #faecf8; padding:15px;}
    .right_menu li:hover { border-radius: 4px;}

    .menu_icon {width: 90px; height: 120px; display: flex; justify-content:right; align-items: center; }
    .menu_icon i {cursor: pointer; font-size: 20px;}
        
    #slider {width:1300px; height:612px; margin: 0 auto; background-color: #ddd;position: relative; overflow: hidden; }
    .slide {width: 3900px; position: relative; ;background-size: cover;}
    .slide li {width: 1300px; height: 612px; float: left;}
    .slide li img {width: 100%; height: 100%; }
    .slide h1 {box-sizing: border-box; font-size: 50px;}
    #slider button {width: 300px; height: 60px; display: block; background-color: black; color: #fff; margin: 0 auto; border-radius: 20px; border:none; opacity: 0.8;}
    #slider button:hover { cursor:pointer; background-color:#fff; color:#000; }
    span {position: absolute; top:300px; display: block; font-size: 38px; color:#fff; line-height: 40px;  background: rgba(0,0,0,0.6); cursor: pointer; height: 50px; transform: translateY(-50%); }

    span:hover {background: rgba(255,255,255,0.8); color:#000;}
    .prev {left:0; border-radius: 0 10px 10px 0px; padding: 0 8px 0 2px; }
    .next {right:0; border-radius: 10px 0px 0px 10px; padding: 0 2px 0 8px;}
  
    #enjoy {width:100%; height: 400px; padding-top: 100px; }
    .container .enjoy_box{width: 137px; height: 90px;  margin: 0 auto; }
    .enjoy_box img {width: 100%; height: 100%;}
    .container h3 {width: 929px ;  font-size: 40px;  font-family: "바탕"; margin: 0 auto; line-height: 1.5; text-align: center;}
    
    #our_menu {width: 100%; height:870px; position: relative; z-index: 1; }
     #our_menu h2 {color: rgb(240, 220, 223); font-size: 250px; text-align: left; font-family: "바탕"; padding: 15px 20px; letter-spacing: 40px; position: absolute; top: 60px; left:100px; } 
    .menu_box { width: 100%; height: 100%; position:absolute; top: 50px; left: 0; }
    
    .menu_box p {width: 300px; height:100px; margin: 0 auto; font-size: 40px; padding: 10px; }
    .menu_box li {font-size: 25px;  line-height: 35px; margin-left: 75px; margin-right: 50px;; padding: 20px;;}
    #our_menu .menu_box .mbox { width: 33.3%; height: auto; float: left;}
    #our_menu .menu_box img {width: 100%;  z-index: 10; }
    #our_menu .menu_box .mbox:first-child img {margin-top: 150px;}
  
    #intro {width: 100%; height: 1000px;   background-color: greenyellow; position: relative;}
    #intro p {width: 100%; height: 100px; position: absolute; top: 100px; text-align: center; font-size: 50px ; }
    
    #intro .container {background-color:#fdf2f2; width:1300px; height:600px; margin:0 auto;  display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
   
    #intro .container div {display:flex; width:400px; height:300px;  flex-wrap:wrap; flex-wrap:wrap; justify-content:space-between; align-items:center; align-content:space-between;}



    #package {width: 100%; height: 300px; background-color: gold; }
    

    #offer {width: 100%; height: 500px; background-color: #f9fbfd; }

    footer { width: 100%; height: 300px; background-color: pink;}

    #footbar {width: 100%; height: 55px; background-color: peachpuff;}

